$color-primary: #196117;
$color-primary-dark: #064604;
$color-primary-light: #66a80f;

$color-orange: #e48900;
$color-yellow: #f7ea00;

$color-red: #be0000;
$color-red-dark: #7b1a37;

$color-brown: #58271a;
$color-brown-red: #3d1212;

$color-grey-light-1: #ededed;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: #000;
$color-white: #fff;

// HEADER
$container-padding: 5rem;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// TYPOGRAPHY
$default-font-size: 2rem;
