@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: v.$color-primary-light;
    height: 6rem;
    width: 6rem;
    text-align: center;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(v.$color-black, .1);
    cursor: pointer;
  }

  &__background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(v.$color-brown, v.$color-brown-red);
    z-index: 1000;
    transition: transform 0.8s ease-in-out;
    // transform: scale(80);
  }

  &__nav {
    height: 100vh;
    transition: all 0.8s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
  }

  &__list {
    @include m.center-element;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      position: relative;
      font-size: 3rem;
      padding: 1rem 2rem;
      color: v.$color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(to top right, v.$color-primary-light 0%, v.$color-white 70%);
      -webkit-background-clip: text;
      color: transparent;
      background-size: 500%;
      background-position: right;
      transition: all 0.4s;
    }

    &:active,
    &:hover {
      transform: translateY(-.5rem) scale(1.05);
      background-size: 100%;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 3rem;

    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      background-color: v.$color-brown;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
