@use "../abstracts/variables";

.values {
  &__heading {
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: variables.$color-brown;
  }

  &__card {
    min-height: 30rem;
    padding: 3rem 2rem;
    background-image: linear-gradient(to top right, rgba(variables.$color-primary, .9), rgba(variables.$color-primary-dark, .9));
    border-radius: 2px;
    color: variables.$color-white;
  }

  &__title {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid variables.$color-white;
  }

  &__text {
    padding: 2rem 0;
    font-size: 2rem;
  }
}
